<!DOCTYPE html>
<html>

{{template "head.html" .}}

<body>
    {{template "header.html" .}}

    <article class="mb-5">
        <a id="index-pic-link" href="" target="_blank"><img id="index-pic" class="w-auto mw-100" src="" /></a>
        <section class="container justify-content-center">
            <div class="row">
                <div class="col-3 d-none d-sm-block"></div>
                <p class="weird-red-intro col mt-3 mb-1">Welcome to <strong>'www.lsdrevamped.net'</strong>, where we'll
                    be bringing you
                    information about <strong>'LSD: Revamped'</strong>, the modern remake
                    of the cult-classic 1998 PS1 game <strong>'LSD: Dream Emulator'</strong>.</p>
                <div class="col-3 d-none d-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-3 d-none d-sm-block"></div>
                <p class="weird-red-intro col mb-1">A person wanders through a dream world they have seen for the past
                    10
                    years, experiencing strange experiences, and witnessing strange landscapes. You will experience how
                    these
                    things change one after another.</p>
                <div class="col-3 d-none d-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-3 d-none d-sm-block"></div>
                <p class="weird-red-intro col">The genre isn't adventure, it's not action, and it's not even an RPG. If
                    I had to define a genre, it would be a "walking dream emulator".</p>
                <div class="col-3 d-none d-sm-block"></div>
            </div>
        </section>
        <hr class="w-75 mb-4">
        <section class="container justify-content-center mb">
            <div class="row">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col">
                    <h2>Future Updates (Upcoming)</h2>
                    <p>LSD: Revamped has these updates planned. After these updates, the game will be
                        considered complete and will no longer be updated apart from critical bugfixes.</p>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-3 d-none d-sm-block"></div>
                <div class="col">
                    <h3>Version 1.0</h3>
                    <ul class="pl-0">
                        <li>Virtual reality support</li>
                        <li>Rarer events</li>
                        <li>More bonus features</li>
                    </ul>
                </div>
                <div class="col-3 d-none d-sm-block"></div>
            </div>
        </section>
        <hr class="w-75 mb-4">
        <section class="container justify-content-center mb">
            <div class="row">
                <div class="col-2 d-none d-sm-block"></div>
                <div class="col">
                    <h2>Discord</h2>
                    <p>Join the Discord server!</p>
                    <iframe src="https://discordapp.com/widget?id=523984338992234520&theme=dark"
                        allowtransparency="true"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                        width="75%" height="500" frameborder="0"></iframe>
                </div>
                <div class="col-2 d-none d-sm-block"></div>
            </div>
    </article>

    {{template "footer.html" .}}

    {{template "scripts.html" .}}

    <script src="./js/frontPageImage.js"></script>
</body>

</html>
